<h1 class='font-weight-bold'>rCable 실시간 채팅
  <div class="text-right" style='margin-top: -2rem;'>
    <%= link_to '케이블 개설하기', new_rcable_path, class: 'btn btn-primary' %>
  </div></h1>

<%= render @rcables %>

<br>

<%= link_to '케이블 개설하기', new_rcable_path, class: 'btn btn-primary' %>
