body {
  padding-top: 6rem;
  margin-bottom: 1rem;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }

  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  @include media-breakpoint-only(lg) {
    column-count: 3;
  }

  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.highlight {
  background-color: #fff !important;
  border-radius: 5px;
}

.message-timestamp {
  float: right;
  color: #aaa;
  font-size: .8rem;
  padding-top: .2rem;
  font-style: italic;
}

.message {
  position: relative;

  p {
    display: inline;
    margin: 1rem 0;

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
    background: #FFFBC5;
    padding: 1em;
    // font-style: italic;
    border-left: 3px solid gray;
  }

  hr {
    margin: 1rem 0;
  }

  pre.highlight {
    border: 1px solid #ddd;
  }

  p>code {
    border: 1px solid #ccc;
    padding: 0 3px;
    border-radius: 3px;
    margin-right: 2px;
    color: #ED3737;
    background-color: white;
  }
}