// Place all the styles related to the Rcables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.messages {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 3px;
  background-color: #eaeaea;
  margin-bottom: 1rem;
  overflow: auto;
  height: 50vh;
}

.message-form {
  margin-bottom: 1rem;
}