body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  // color: #000;

  // &:visited {
  //   color: rgb(84, 84, 84);
  // }

  // &:hover {
  //   color: #fff;
  //   background-color: #000;
  // }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {

  &.field,
  &.actions {
    display: block;
    margin-bottom: 1rem;

    label {
      margin-bottom: .2rem;
    }
  }
}

#notice {
  color: green;
}

.field {
  margin-bottom: 1em;

  .validation-error {
    color: #c82333;
  }
}

.field_with_errors {
  margin: 0;
  display: inline !important;
}

.field_with_errors>.form-control {
  border: 1px solid #c82333;
  border-radius: 0 5px 5px 5px !important;
  margin-top: -3px;
}

.field_with_errors>label {
  padding: 2px 7px;
  background-color: #c82333;
  border: 1px solid #c82333;
  display: inline-block !important;
  color: white;
  border-radius: 5px 5px 0 0;
  // margin-bottom: 0;
}

#error_explanation {
  margin-bottom: 1rem;
  //width: 450px; 
  border: 2px solid #c82333;
  border-radius: 5px;
  // padding: 7px 7px 0;
  // margin-bottom: 20px;
  background-color: #c82333;

  // h2 {
  //   text-align: left;
  //   font-weight: bold;
  //   padding: 5px 5px 5px 15px;
  //   font-size: 12px;
  //   margin: -7px -7px 0;
  //   background-color: #c82333;
  //   color: #fff;
  // }

  button {
    color: whitesmoke;
  }

  // .collapsed {
  //   border-radius: 5px 5px 5px 5px;
  // }

  ul {
    margin: 0 .5rem .5rem .5rem;
    padding-top: .5rem;
    border-top: 1px solid whitesmoke;
    color: whitesmoke;
    // padding-left: 2rem;
    // border: 1px solid #c82333;
    // border-radius: 0 0 5px 5px;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

// label {
//   display: block;
// }